html,
body {
  background-color: #b7b6b5 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

canvas {
  max-width: 1200px;
  border: solid 1px gray;
}
