html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    margin: auto;
    display: block;
    -webkit-tap-highlight-color: transparent;
}
